body{
    background-color:#D1FED6;
    color:#703D3D ;
font-size: 20px;
padding:0 24px;

}
.texto-um{
    color:#703D3D ;
    font-size: 24px;
}

.texto-dois{
    color: #703D3D;
    font-size: 24px;

}

.paragrafo{
    font-size: 18px;
}

.rodape{
    text-align: center;
    display:grid;
    font-size: 18px;
    color:#703D3D;

}

.imagem{
    width: 60%;
}

