body{
    background-color: #D1FED6;
    color:#764141 ;
    font-size: 24px;
    padding: 0 15px;

 }

 .texto-um{
    color: #764141;
    font-size: 15px;
}

.paragrafo{
    font-size: 18px;
}

.rodape{
    font-size: 20px;
    color: black;


.imagem-2 {
    width: 20%;
    float: right
}
















